* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ecf0f3;
  color: #555;
}
.login-form {
  width: 300px;
  height: 500px;
  padding: 50px 35px 35px 35px;
  background-color: #ecf0f3;
  border-radius: 35px;
  box-shadow: 10px 10px 15px #cbced1, -10px -10px 15px white;
}
.logo {
  background: url("./logo.png") no-repeat;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 2px #5f5f5f, 6px 6px 12px #a7aaaf, -6px -6px 12px white;
}
.title {
  font-size: 15px;
  padding-top: 15px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: center;
  font-family: sans-serif;
}
.subtitle {
  font-size: 15px;
  padding-top: 8px;
  letter-spacing: 3px;
  text-align: center;
  font-family: sans-serif;
}
.fields {
  width: 100%;
  padding: 30px 5px 5px 5px;
}
.fields input {
  background: none;
  border: none;
  outline: none;
  padding: 20px 10px 20px 5px;
  color: #555;
}
.user,
.password {
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 15px #cbced1, inset -8px -8px 15px white;
}
.fields svg {
  height: 22px;
  margin-bottom: -4px;
  margin-left: 10px;
}
.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: #63e06b;
  color: #fff;
  box-shadow: 3px 3px 8px #cbced1, -3px 3px 3px white;
  transition: 0.5s linear;
}
.btn:hover{
  background-color: rgb(16, 194, 16);
}
.link{
  padding-top: 15px;
  text-align: center;
  font-size: 15px;
}
.link a{
  text-decoration: none;
  color: #aaa;
  font-family: sans-serif;
}